* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #972239;
    background-image: linear-gradient(315deg, #3d3d3d 0%, #1f1f1f 74%);
    text-align: center;
    color: white;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
