* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #972239;
    background-image: linear-gradient(315deg, #3d3d3d 0%, #1f1f1f 74%);
    text-align: center;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

h1 {
    margin: 0;
    font-family: "Mountains of Christmas", cursive;
    font-size: 46px;
    font-weight: 400;
    line-height: 16px;
}

h1.title-splash {
    font-size: 92px;
    line-height: 60px;
}

h1.title-modal,
h1.letter-signature {
    font-size: 46px;
    line-height: 16px;
}

h1.title-letter {
    font-size: 66px;
    line-height: 46px;
}

.margin-bottom {
    margin-bottom: 1em;
}

.underline-a,
.underline-b,
.underline-title {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.underline-a::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-image: url(assets/underline-a.svg);
    background-repeat: no-repeat;
    background-size: fill;
}

.underline-b::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-image: url(assets/underline-b.svg);
    background-repeat: no-repeat;
    background-size: fill;
}

.underline-title::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-image: url(assets/underline-a.svg);
    background-repeat: no-repeat;
    background-size: fill;
}

p {
    margin: 0;
    font-family: "Galdeano", serif;
    font-weight: 400;
    opacity: 0.9;
}

p.splash-copy {
    font-size: 24px;
    line-height: 28px;
}

p.help-copy {
    font-size: 20px;
    line-height: 28px;
}

.splash-wrapper,
.modal-content,
.letter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin: auto auto;
    height: 100%;
}

.splash-wrapper,
.modal-content {
    justify-content: center;
    margin: auto auto;
    height: 100%;
}

.splash-wrapper {
    gap: 60px;
    text-align: center;
}

.modal-content {
    width: 40%;
    text-align: center;
    background-image: url('/src/assets/letter-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
    transform: translateY(100vh);
    transition: transform 0.3s ease-in-out;
}

.modal-content-visible {
    transform: translateY(0);
}

.letter-content {
    position: relative;
    margin-top: 88px;
    padding-top: 108px;
    width: 40%;
    text-align: center;
    background-image: url(assets/letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: visible;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.button-close,
.button-start {
    width: 86px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-close,
.button-letter {
    width: 86px;
}

.button-start {
    width: 362px;
}

.button-start:hover {
    transform: scale(1.05);
}

.button-close:hover {
    transform: scale(1.1);
}

.color-light {
    color: rgba(255, 255, 255, 1);
}

.color-dark {
    color: rgba(25, 13, 6, 1);
}

.modal-content .modal-wrapper,
.modal-wrapper-letter {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper-letter {
    position: relative;
    overflow: hidden;
}

.modal-wrapper-letter::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url(assets/envelope-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.modal-wrapper-letter::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-image: url(assets/envelope-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.button-letter {
    position: absolute;
    z-index: 5;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-letter:hover {
    transform: translateX(-50%) scale(1.1);
}
